*{
	box-sizing: border-box;
}
h1{
	text-align: center;
	font-size: 30px;
	font-family: Georgia serif;
	margin-bottom: 30px;
}

.section{
	background-color: #FFF0F5;
	border: solid 2px black;
	position: relative;
	text-align: justify;
	margin-top: 20px; 
  margin-right: 20px; 
  padding: 3px;
}

p{
	font-size: 15px;
	padding: 15px 5px 0px 10px;
	position: relative;


}
span{
	font-size: 20px;
	width: 150px;
	border: 1px solid black;
	font-weight: bold;
	text-align: center;
	float: left; top :0; right: 0; margin: 0;
	position: absolute;
}



#id1{
background-color: #A52A2A;
}
#id2{
background-color: #DC143C;
}
#id3{
background-color: #00FFFF;
}

.raw{
	width: 100%;
}

@media (min-width: 992px) {
 
  .col-lg-4 {
    width: 33.33%;
    float: left;
	}
}

/* Tablet PC view */
@media (min-width: 768px) and (max-width: 991px) {
 
  .col-md-6 {
    width: 50%;
    float: left;
  }
  .col-md-12 {
    width: 100%;
    float: left;
  }
}
/* Cell phone view */
@media (max-width: 767px)  {
  
  .col-sx-12 {
  	float: left;
    width: 100%;
  }
}
